body {
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #747474;
}
